<ion-content padding>
  <div id="header">
    <h1 style="color:purple">Proposta</h1>
    <h4>Enviadas > Recebidas</h4>
  </div>

  <ion-row>
    <a href="/proposta/1234">
      <ion-col>
        <img src="https://www.plantapronta.com.br/projetos/140/01.jpg" alt="">
      </ion-col>
      <ion-col>
        <div>
          <b>Para Mônica</b>
        </div>
        <div>Natal - RN</div>
        <div>Enviada em 21/10/2018</div>
        <div>Aguardando resposta</div>
      </ion-col>
    </a>
  </ion-row>
</ion-content>
