<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-input placeholder="nome completo" type="text" name="userName" [(ngModel)]="registerCredentials.userName" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="e-mail" type="email" name="userEmail" [(ngModel)]="registerCredentials.userEmail" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-datetime placeholder="data de nascimento" displayFormat="DD/MM/YYYY" name="userBirthDate" [(ngModel)]="registerCredentials.userBirthDate" required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-input placeholder="cargo" type="text" name="userRole" [(ngModel)]="registerCredentials.userRole" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="endereço" type="text" name="userResidence" [(ngModel)]="registerCredentials.userResidence" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="rg" type="text" name="userGeneralRegistry" [(ngModel)]="registerCredentials.userGeneralRegistry" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="cpf" type="text" name="userDocumentNumber" [(ngModel)]="registerCredentials.userDocumentNumber" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="senha" type="password" name="userPassword" [(ngModel)]="registerCredentials.userPassword" required></ion-input>
          </ion-item>

        </ion-list>

        <div padding-vertical>
          <ion-button (click)="register()" size="large" expand="block" [disabled]="!registerForm.form.valid">Registrar</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
