<ion-header>
  <ion-toolbar>
    <ion-title>Crie sua conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list>

          <ion-item>
            <ion-label>nome completo</ion-label>
            <ion-input type="text" name="userName" [(ngModel)]="registerCredentials.userName" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>e-mail</ion-label>
            <ion-input type="userEmail" name="userEmail" [(ngModel)]="registerCredentials.userEmail" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>data de nascimento</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" name="userBirthDate" [(ngModel)]="registerCredentials.userBirthDate" required></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>cargo</ion-label>
            <ion-input type="text" name="userRole" [(ngModel)]="registerCredentials.userRole" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>endereço</ion-label>
            <ion-input type="text" name="userResidence" [(ngModel)]="registerCredentials.userResidence" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>rg</ion-label>
            <ion-input type="text" name="userGeneralRegistry" [(ngModel)]="registerCredentials.userGeneralRegistry" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>cpf</ion-label>
            <ion-input type="text" name="userDocumentNumber" [(ngModel)]="registerCredentials.userDocumentNumber" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>senha</ion-label>
            <ion-input type="password" name="userPassword" [(ngModel)]="registerCredentials.userPassword" required></ion-input>
          </ion-item>

        </ion-list>

        <div padding-vertical>
          <ion-button (click)="register()" size="large" expand="block" [disabled]="!registerForm.form.valid">Registrar</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
