<ion-content padding>
  <div>
    <h3>Lugares disponíveis</h3>
  </div>

  <ion-grid>
    <div padding><b>NORTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>NORDESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>SUDESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>CENTRO-OESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>SUL</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://www.plantapronta.com.br/projetos/140/01.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">

    <ion-tabs color="primary">
      <ion-tab label="procurar" icon="search" href="/procurar">
        <ion-router-outlet name="procurar"></ion-router-outlet>
      </ion-tab>
      <ion-tab label="mensagens" icon="chatboxes" href="/mensagens">
        <ion-router-outlet name="mensagens"></ion-router-outlet>
      </ion-tab>
      <ion-tab label="chave" icon="key" href="/chave">
        <ion-router-outlet name="chave"></ion-router-outlet>
      </ion-tab>
      <ion-tab label="ajuda" icon="help" href="/ajuda">
        <ion-router-outlet name="ajuda"></ion-router-outlet>
      </ion-tab>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>