<ion-content padding>
  <div>
    <h3>Lugares disponíveis</h3>
  </div>

  <ion-grid>
    <div padding><b>NORTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>NORDESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>SUDESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>CENTRO-OESTE</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>

    <div padding><b>SUL</b></div>
    <ion-row>
      <ion-col>
        <a href="/imovel/1">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/2">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
      <ion-col>
        <a href="/imovel/3">
          <div class="card-house">
            <ion-img src="https://confortotermicoemcasaterrea.files.wordpress.com/2009/11/casaoptativavista1.jpg"></ion-img>
          </div>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
